* {
    margin: 0px;
    padding: 0px;
    transition: all ease 1s;
    /* box-sizing: border-box; */
}

body {
    position: relative;
    background-color: goldenrod;
}

.content-text {
    background: white;
    /* height: 200px; */
}

#fixed {
    position: fixed;
    padding: 10px;
    top: 0;
    right: 0;
    background: white;
}

input {
    padding: 8px 5px;
    border-radius: 5px;
    outline: none;
    border: 0;
}

#box-modal-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    /* margin: 40px; */
    border-width: 0px;
    border-color: rgb(252, 55, 55);
    border-style: solid;
}

#box-modal-wrapper p {
    border: 1px dotted blue;
}

.input-wrapper {
    padding: 20px;
}

.label {
    position: absolute;
    right: -135px;
    top: 0;
}

.color-codes {
    display: flex;
    align-items: center;
}

.code {
    width: 20px;
    height: 20px;
    background: white;
    margin: 10px;
}

.code:nth-child(1) {
    background: dodgerblue;
}

.code:nth-child(2) {
    background: white;
}

.code:nth-child(3) {
    background: rgb(252, 55, 55);
}